<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
	</head>
	<body>
		<section class="section">
			<div class="maincolumns columns is-desktop is-vcentered">
				<div class="column is-10 is-offset-1 notification is-info is-light box container">
					<div class="title">
						Web Users
					</div>
					<% if (locals.getAllUsers && locals.getAllUsers.length > 0) { %>
						<div class="table-container">
							<table class="table is-bordered is-hoverable is-striped is-narrow">
								<thead>
									<tr>
										<th> # </th>
										<th> First Name </th>
										<th> Last Name </th>
										<th> Email </th>
									</tr>
								</thead>
								<tbody>
									<% for(let i = 0; i < locals.allUsers.length; i++) { %>
										<tr>
											<td><%= locals.getAllUsers[i].web_user_id %></td>
											<td><%= locals.getAllUsers[i].first_name %></td>
											<td><%= locals.getAllUsers[i].last_name %></td>
											<td><%= locals.getAllUsers[i].email %></td>
										</tr>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4">	
											There are <%= locals.getAllUsers.length %> web users.
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					<% } else { %>
						<p>No web users found.</p>
					<% } %>
				</div>
			</div>
		</section>
	</body>
</html>
